.container{
    display: flex;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    padding-top: 30px;
}

.buttons {
    margin-top: 20px;
    width: 80vw;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

button{
    width: 15vw;
    height: 6vh;
    background-color: rgba(21, 57, 76, .97);
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}