.movies{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    padding-top: 9px;
}
h2{
    margin-top: 20px;
}
.pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 80vw;
}
.pagination li{
    display: flex;
    width: 55px;
}

